
<div class="row">
	<div>
		<button data-target="" style="background-color: #4caf50; color: white; padding: 15px; font-size: 15px; border: none; margin: 10px 100px">Category</button>
	</div>
</div>



	<script type="text/javascript">
	

	function getCategories(){
			$.ajax({
				url: '/categories',
				dataType: 'JSON',
				contentType: false,
				processData: false,
				cache: false,
				type: "POST",
				success: function(response){
					console.log("Response");	
				}
			})
		};


</script>
