<div id="root"></div>
<div class="container">
	<nav class="navbar navbar-default navabr-fixed-top">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar- nav">
				<li>#</li>
				<li>#</li>
				<li>Manage</li>
			</ul>
			<div class="navbar-left">
				<ul>
					<li>Help</li>
					<li>Setting</li>
				</ul>
			</div>
			<a href="#"><img src="#">Login</a>
		</div>
	</nav>
</div>

<script type="text/javascript">
	// So we need a expense page. to create that three steps are there
	/*
		1. Add a new route
		2. Create controller actions
		3. create view file(html.erb) inside views folder

	*/

</script>