<div id="root"></div>
<div class="container">
	<nav class="navbar navbar-default navabr-fixed-top">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar- nav">
				<li>#</li>
				<li>#</li>
				<li>Manage</li>
			</ul>
			<div class="navbar-left">
				<ul>
					<li>Help</li>
					<li>Setting</li>
				</ul>
			</div>
			<button class="" button-target="#modal-login" data-toggle="modal">Login</button>
				<form>
					<div id="modal-login" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-body">
								<label for="uname"><b>Username</b></label>
								<input type="text" placeholder="Enter Username" name="uname" required>

								<label for="psw"><b>Password</b></label>
								<input type="text" placeholder="Enter Password" name="psw" required>

								<button type="submit">Login</button>

								<label>
									<input type="checkbox" checked="checked" name="remember">Remember me
								</label>
							</div>

							<div>
								<button type="button">Cancel</button>
								<span class="psw"><a href="">forgot password</a></span>
							</div>
						</div>
					</div>
				</form>
		</div>
	</nav>
</div>

<script type="text/javascript">
	// So we need a expense page. to create that three steps are there
	/*
		1. Add a new route
		2. Create controller actions
		3. create view file(html.erb) inside views folder

	*/

</script>