<div id="root"></div>

<script type="text/javascript">
	// So we need a expense page. to create that three steps are there
	/*
		1. Add a new route
		2. Create controller actions
		3. create view file(html.erb) inside views folder

	*/

</script>